body {
  margin: 10px 0;
}

header　{
  display: flex;
}

.header_title {
  display: flex;
  list-style: none;
  float: right;
}


.title-wrap {
  margin: 0 10px;
}

.technology-title {
  color: #fff;
  text-align: center;
}

.technology-wrap {
  color: #fff;
  text-align: center;
}

.technology_photo {
  background: url("../img/mv.png");
  background-size: cover;
}

.item-box {
  background-color: black;
  padding: 10%;
}

.item_content {
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
}

.item_wrap {
  color: #fff;
  font-size: 20px;
  margin: 10px 0;
}

.service {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin: 20px 0;
}

.service_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service_img {
  width: 100%;
}


.service_box1 {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: 20px;
}

.service_box2 {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: 20px;
}

.service_box3 {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: 20px;
}

.service_box4 {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: 20px;
}

.service-title {
  font-size: 20px;
  font-weight: bolder;
  margin: 10px 0;
}

.service-wrap {
  font-size: 18px;
  margin: 0;
}


.service-btn {
  border: 2px solid red;
  background-color: red;
  color: #fff;
  padding: 15px 40px;
  display: inline-block;
  margin-left: 40%;
  margin-top: 20px;
}

.news-box {
  background-color: black;
  padding: 10%;
  margin: 20px 0;
}

.news {
  background-color: black;
  padding: 10%;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.news-title {
  color: #fff;
  font-size: 40px;
}

.news-btn {
  border: 2px solid red;
  background-color: red;
  color: #fff;
  padding: 15px 40px;
  display: inline-block;
}

.news-wrap_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}

.news-wrap1 {
  font-size: 20px;
  background-color: #fff;
  color: black;
  padding: 15px 100px;
  margin: 10px;
  width: 80%;
}

.news-wrap2 {
  font-size: 20px;
  background-color: #fff;
  color: black;
  padding: 15px 100px;
  margin: 10px;
  width: 80%;
}

.news-wrap3 {
  font-size: 20px;
  background-color: #fff;
  color: black;
  padding: 15px 100px;
  margin: 10px;
  width: 80%;
}

.news-wrap_span {
  font-weight: bolder;
}

.blog-title {
  color: black;
  font-size: 40px;
  font-weight: bolder;
  margin: 20px 0;
  text-align: center;
}

.blog-title_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.blog-title_box1 {
  display: flex;
  flex-wrap: wrap;
  width: 28%;
  margin: 0 10px;
}

.blog-title_box2 {
  display: flex;
  flex-wrap: wrap;
  width: 28%;
  margin: 0 10px;
}

.blog-title_box3 {
 display: flex;
 flex-wrap: wrap;
 width: 28%;
 margin: 0 10px;
} 

.blog-photo {
  width: 100%;
}

.blog-title_wrap1 {
  margin: 10px 0;
}

.blog-title_wrap2 {
  font-weight: bolder;
  margin: 30px 0;
}

.blog-btn {
  border: 2px solid red;
  background-color: red;
  color: #fff;
  padding: 15px 40px;
  display: inline-block;
  margin: 20px 0;
}

.company {
  display: flex;
  margin: 10px 0;
}

.company-title {
  background-color: red;
  padding: 30px 50px;
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
  width: 50%;
  text-align: center;
}

.company-title_information {
  background-color: black;
  padding: 30px 50px;
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
  width: 50%;
  text-align: center;
}

.form-box {
  background-color: lightgrey;
  padding: 5%;
  margin: 30px 0;
}

.form-title {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

.form-title_wrap {
  text-align: center;
  margin: 10px 0;
}

.form-btn {
  border: 2px solid red;
  background-color: red;
  color: #fff;
  padding: 15px 40px;
  display: inline-block;
  margin: 20px 40%;
}

.footer {
  width: 100%;
  background-color: black;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  display: flex;
 justify-content: space-between;
}

.copyright {
  margin: 0 30px;
}

.footer-nav-list {
  display: flex;
  font-weight: bold;
  width: 100%;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-nav-item {
  margin: 0 10px;
  font-color: #fff;
}