body {
  margin: 10px 0;
}

header　{
  display: flex;
}

.header_title {
  display: flex;
  list-style: none;
  float: right;
}


.header-title-wrap >a {
  margin: 0 10px;
  color: black;
  font-weight: bolder;
}